[credential]
	helper = osxkeychain
[alias]
    lol = log --oneline --graph --decorate --all
	ane = commit --amend --no-edit
    empty = commit --allow-empty
    config-check = config --list --show-origin --show-scope
# Include ifs
[includeIf "gitdir:~/projects/work/**/"]
    path = ~/.work.gitconfig
[includeIf "gitdir:~/projects/personal/**/"]
    path = ~/.personal.gitconfig
[includeIf "gitdir:~/dotfiles/"]
    path = ~/.personal.gitconfig
